<div class="calendar-container">
    <div class="calendar-header">
        <form method="post">
            <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
            <input type="hidden" name="currentStartDate" value="{{ calendar.currentStartDate }}">
            <button type="submit">Today</button>
            <div class="nav-buttons">
                <button type="submit" name="calendarAction" value="prevWeek">&lt;</button>
                <button type="submit" name="calendarAction" value="nextWeek">&gt;</button>
            </div>
        </form>
        <h2>{{ calendar.weekTitle }}</h2>
        <form method="post" id="week-picker-form">
            <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
            <label for="weekPicker" class="arrow-button">↓</label>
            <input type="text" name="newStartDate" id="weekPicker" readonly>
        </div>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                <th class="time-column"></th>
                {% for date in calendar.dates %}
                    <th class="start-cell"></th>
                    <th class="date-cell">{{date}}</th>
                    <th class="end-cell"></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="calendar-body">
            {% for i in range(0, calendar.grid.length) %}
                <tr>
                        <td class="time-column">{% if i % 2 == 0 %} {{calendar.times[i/2]}} {% endif %}</td>
                        {% for entry in calendar.grid[i] %}
                            {% if entry.isEvent %}
                                {% if entry.status == "free" %}
                                    <td class="status-free"></td>
                                {% elif entry.status == "oof" %}
                                    <td class="status-oof"></td>
                                {% elif entry.status == "busy" %}
                                    <td class="status-busy"></td>
                                {% elif entry.status == "tentative" %}
                                    <td class="status-tentative"></td>
                                {% else %}
                                    <td class="status-default"></td>
                                {% endif %}
                                <td class="event">{{entry.text}}</td>

                                {% if entry.isToday %}
                                    <td class="end-cell-today"></td>
                                {% else %}
                                    <td class="end-cell"></td>
                                {% endif %}
                            {% elif entry.isToday %}
                                <td class="status-today"></td>
                                <td class="calendar-cell-today"></td>
                                <td class="end-cell-today"></td>
                            {% else %}
                                <td class="status"></td>
                                <td class="calendar-cell"></td>
                                <td class="end-cell"></td>
                            {% endif %}
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#weekPicker", {
            enableTime: false,
            dateFormat: "Y-m-d",
            onChange: function(selectedDates) {
                const weekPickerForm = document.querySelector('#week-picker-form');
                weekPickerForm.submit();
            },
            onMonthChange: function(selectedDates, dateStr, instance) {
                const year = instance.currentYear;
                const month = instance.currentMonth;
                const firstDay = new Date(year, month, 1);
                instance.setDate(firstDay, false);
            },
            onYearChange: function(selectedDates, dateStr, instance) {
                const year = instance.currentYear;
                const month = instance.currentMonth;
                const firstDay = new Date(year, month, 1);
                instance.setDate(firstDay, false);
            }
        });
    });
</script>