{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set caseRows = [] %}
    {% for c in appeals.cases %}
        {% set caseRows = (caseRows.push([
            { html: govukCheckboxes({
                name: "selectedCases",
                classes: "govuk-checkboxes--small",
                items: [{ value: c.caseId, text: " ", checked: c.selected }]
            }) },
            { html: '<a href="/case/' + c.caseId + '?inspectorId=' + filters.query.inspectorId + '" class="govuk-link">' + c.caseId + '</a>' },
            { text: c.caseType },
            { text: c.caseProcedure },
            { text: c.allocationBand },
            { text: c.caseLevel },
            { text: c.siteAddressPostcode },
            { text: c.lpaName },
            { text: c.lpaRegion },
            { html: govukTag({text: c.caseStatus }) },
            { html: '<span class="case-border" style="--border-color:#' + c.caseAgeColor + ';">' + c.caseAge + '</span>' },
            { text: c.linkedCaseReferences[0] },
            { text: c.finalCommentsDate }
        ]), caseRows) %}
{% endfor %}

{{ govukTable({
    classes: "govuk-!-font-size-14 home-cases-table",
    head: [
        { html: govukCheckboxes({
            idPrefix: "select-all",
            name: "select-all",
            classes: "govuk-checkboxes--small",
            items: [{ value: "select-all", text: " ", checked: false }]
        }) },
        { text: "Case reference" },
        { text: "Case type" },
        { text: "Procedure" },
        { text: "Band" },
        { text: "Level" },
        { text: "Location" },
        { text: "LPA" },
        { text: "Region" },
        { text: "Case status" },
        { text: "Age (weeks)" },
        { text: "Linked cases" },
        { text: "Final comments date" }
    ],
    rows: caseRows
}) }}