{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% from "views/home/map/map.njk" import osMap %}

{% from "views/macros/compile-query-fields.njk" import compileSortPaginationQueryFields %}
{% from "views/macros/compile-query-fields.njk" import compileFilterQueryFields %}
{% from "views/macros/checkbox-filter.njk" import checkboxFilter %}
{% from "views/macros/filter-tag.njk" import filterTag, filterGroup %}

{% block container %}
    <div class="govuk-width-container case-list-container {{ containerClasses }}">
        {% include 'views/layouts/components/container-start.njk' %}
        <div class="govuk-grid-row">
            <aside>
                <h2 class="govuk-heading-m">Select inspector</h2>
                <form method="get" novalidate id="inspector-form">
                    <div class="govuk-form-group flex-gap">
                        {% set inspectorList = [{
                            text: '',
                            value: null,
                            selected: null
                        }] %}
                        {% for i in inspectors.list %}
                            {% set inspectorList = (inspectorList.push({
                                text: i.lastName + ', ' + i.firstName,
                                value: i.id,
                                selected: i.id == filters.query.inspectorId
                            }), inspectorList) %}
                        {% endfor %}
                        {{ govukSelect({
                            id: "inspectors",
                            name: "inspectorId",
                            items: inspectorList,
                            errorMessage: { text: inspectors.error } if inspectors.error else null
                        }) }}
                        {{ govukInput({
                            id: "currentTab",
                            name: "currentTab",
                            type: "hidden"
                        }) }}
                        {{ govukButton({
                            text: "Select",
                            classes: "govuk-button--secondary margin-top-error" if inspectors.error else "govuk-button--secondary",
                            value: "select",
                            name: "action",
                            type: "submit"
                        }) }}
                    </div>
                    {{ compileFilterQueryFields(filters) }}
                    {{ compileSortPaginationQueryFields(filters) }}
                    <input type="hidden" name="page" value="{{ filters.query.page }}">
                </form>
                <div class="app-filters">
                    <form method="get" novalidate>
                        <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
                        <input type="hidden" name="limit" value="{{ filters.query.limit }}">
                        <input type="hidden" name="page" value="{{ filters.query.page }}">
                        <input type="hidden" name="sort" value="{{ filters.query.sort }}">

                        {% for key, value in filters.query.case %}
                            {% if value is iterable and not value is string %}
                                {% for item in value %}
                                    <input type="hidden" name="filters[{{ key }}][]" value="{{ item }}">
                                {% endfor %}
                            {% else %}
                                <input type="hidden" name="filters[{{ key }}]" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                    </form>
                    <h2 class="govuk-heading-m">Case filters</h2>

                    {# Selected filters display #}
                    {% set hasActiveFilters =
                        filters.query.case.minimumAge or
                        filters.query.case.maximumAge or
                        filters.query.case.lpaRegion or
                        filters.query.case.caseSpecialisms or
                        filters.query.case.caseTypes or
                        filters.query.case.allocationLevels or
                        filters.query.case.visitTypes or
                        filters.query.case.specialCircumstances
                    %}

                    {% if hasActiveFilters %}
                        <div class="selected-filters">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Selected filters</h3>

                            {# LPA Region #}
                            {% if filters.query.case.lpaRegion %}
                                {% call filterGroup('LPA region') %}
                                    {% for region in filters.query.case.lpaRegion %}
                                        {{ filterTag(region, filters.buildUrlWithoutFilter('lpaRegion', region)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Case types #}
                            {% if filters.query.case.caseTypes %}
                                {% call filterGroup('Case type') %}
                                    {% for caseType in filters.query.case.caseTypes %}
                                        {% set caseTypeText = caseType %}
                                        {% for item in filters.caseTypes %}
                                            {% if item.value == caseType %}
                                                {% set caseTypeText = item.text %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ filterTag(caseTypeText, filters.buildUrlWithoutFilter('caseTypes', caseType)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Visit type #}
                            {% if filters.query.case.visitTypes %}
                                {% call filterGroup('Visit type') %}
                                    {% for visitType in filters.query.case.visitTypes %}
                                        {% set visitTypeText = visitType %}
                                        {% for item in filters.visitTypes %}
                                            {% if item.value == visitType %}
                                                {% set visitTypeText = item.text %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ filterTag(visitTypeText, filters.buildUrlWithoutFilter('visitTypes', visitType)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Case allocation #}
                            {% if filters.query.case.allocationLevels %}
                                {% call filterGroup('Case allocation level') %}
                                    {% for allocationLevel in filters.query.case.allocationLevels %}
                                        {{ filterTag(allocationLevel, filters.buildUrlWithoutFilter('allocationLevels', allocationLevel)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Special circumstances #}
                            {% if filters.query.case.specialCircumstances %}
                                {% call filterGroup('Special circumstance') %}
                                    {% for circumstance in filters.query.case.specialCircumstances %}
                                        {% set circumstanceText = circumstance %}
                                        {% for item in filters.specialCircumstances %}
                                            {% if item.value == circumstance %}
                                                {% set circumstanceText = item.text %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ filterTag(circumstanceText, filters.buildUrlWithoutFilter('specialCircumstances', circumstance)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Specialisms #}
                            {% if filters.query.case.caseSpecialisms %}
                                {% call filterGroup('Specialism') %}
                                    {% for specialism in filters.query.case.caseSpecialisms %}
                                        {{ filterTag(specialism, filters.buildUrlWithoutFilter('caseSpecialisms', specialism)) }}
                                    {% endfor %}
                                {% endcall %}
                            {% endif %}

                            {# Case Age #}
                            {% if filters.query.case.minimumAge or filters.query.case.maximumAge %}
                                {% call filterGroup('Case age') %}
                                    {% if filters.query.case.minimumAge %}
                                        {{ filterTag('Min ' + filters.query.case.minimumAge + ' weeks', filters.buildUrlWithoutFilter('minimumAge')) }}
                                    {% endif %}
                                    {% if filters.query.case.maximumAge %}
                                        {{ filterTag('Max ' + filters.query.case.maximumAge + ' weeks', filters.buildUrlWithoutFilter('maximumAge')) }}
                                    {% endif %}
                                {% endcall %}
                            {% endif %}

                        </div>
                    {% endif %}

                    <form id="filter-form" method="get" novalidate>
                        <div class="filter-actions">
                            <button class="govuk-button" data-module="govuk-button">
                                Apply filters
                            </button>
                            {% if hasActiveFilters %}
                                <a href="{{ filters.clearFiltersUrl }}"
                                   class="govuk-link govuk-link--no-visited-state govuk-body"
                                   id="clear-filters-link">Clear filters</a>
                            {% endif %}
                        </div>

                        {{ govukDetails({
                            summaryText: "LPA region",
                            html: govukCheckboxes({
                                idPrefix: "filters[lpaRegion]",
                                name: "filters[lpaRegion]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more LPA regions",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [
                                    { value: 'North', text: 'North' },
                                    { value: 'East', text: 'East' },
                                    { value: 'West', text: 'West' }
                                ],
                                values: filters.query.case.lpaRegion
                            }),
                            classes: "custom-filter-dropdown",
                            open: true
                        }) }}

                        {{ govukDetails({
                            summaryText: "Case type",
                            html: checkboxFilter({
                                idPrefix: "filters[caseTypes]",
                                name: "filters[caseTypes]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more case types",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: filters.caseTypes,
                                values: filters.query.case.caseTypes,
                                textBox: {
                                    label: 'Find case type'
                                }
                            }),
                            classes: "custom-filter-dropdown",
                            open: true
                        }) }}

                        {{ govukDetails({
                            summaryText: "Visit type",
                            html: govukCheckboxes({
                                idPrefix: "filters[visitTypes]",
                                name: "filters[visitTypes]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more visit types",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: filters.visitTypes,
                                values: filters.query.case.visitTypes
                            }),
                            classes: "custom-filter-dropdown",
                            open: false
                        }) }}

                        {{ govukDetails({
                            summaryText: "Case allocation",
                            html: govukCheckboxes({
                                idPrefix: "filters[allocationLevels]",
                                name: "filters[allocationLevels]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more case allocation levels",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: filters.allocationLevels,
                                values: filters.query.case.allocationLevels
                            }),
                            classes: "custom-filter-dropdown",
                            open: false
                        }) }}

                        {{ govukDetails({
                            summaryText: "Special circumstances",
                            html: govukCheckboxes({
                                idPrefix: "filters[specialCircumstances]",
                                name: "filters[specialCircumstances]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more special circumstances",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: filters.specialCircumstances,
                                values: filters.query.case.specialCircumstances
                            }),
                            classes: "custom-filter-dropdown",
                            open: false
                        }) }}

                        {{ govukDetails({
                            summaryText: "Specialism",
                            html: checkboxFilter({
                                idPrefix: "filters[caseSpecialisms]",
                                name: "filters[caseSpecialisms]",
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: "Select one or more specialisms",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: filters.specialisms,
                                values: filters.query.case.caseSpecialisms,
                                textBox: {
                                    label: 'Find specialism'
                                }
                            }),
                            classes: "custom-filter-dropdown",
                            open: false
                        }) }}

                        {{ govukDetails({
                            summaryText: "Case age",
                            html: (
                            govukInput({
                                label: {
                                    text: "Minimum age (weeks)",
                                    classes: "govuk-label--s",
                                    isPageHeading: false
                                },
                                idPrefix: "filters[minimumAge]",
                                name: "filters[minimumAge]",
                                classes: "govuk-input--width-5",
                                errorMessage: filters.errors.minimumAge,
                                value: filters.query.case.minimumAge
                            }) +
                            govukInput({
                                label: {
                                    text: "Maximum age (weeks)",
                                    classes: "govuk-label--s",
                                    isPageHeading: false
                                },
                                idPrefix: "filters[maximumAge]",
                                name: "filters[maximumAge]",
                                classes: "govuk-input--width-5",
                                errorMessage: filters.errors.maximumAge,
                                value: filters.query.case.maximumAge
                            })

                            ),
                            classes: "custom-filter-dropdown",
                            open: false
                        }) }}

                        {{ compileSortPaginationQueryFields(filters) }}
                        <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
                        <input type="hidden" name="page" value="{{ filters.query.page }}">
                    </form>
                </div>
            </aside>
            <main class="govuk-main-wrapper" id="main-content">
                <h1 class="govuk-heading-l">
                    {% if pageCaption %}
                        <span class="govuk-caption-xl">{{ pageCaption }}</span>
                    {% endif %}
                    {{ pageHeading or pageTitle }}
                </h1>

                {% set casesTable %}
                    <div style="margin: 0; padding: 0;">

                        {{ govukButton({
                            text: "Refresh list",
                            classes: "govuk-button--secondary",
                            type: "button",
                            attributes: { id: "refresh-btn" }
                        }) }}

                        <form id="sort-pagination-form" method="get" class="govuk-form-group" style="margin: 0; padding: 0;">
                            <div style="margin-bottom: 10px;">
                                <span class="govuk-body">Sort by:</span>
                                {% set sorts = [
                                    { label: "Age", value: "age" },
                                    { label: "Distance", value: "distance" }
                                ] %}
                                {% for s in sorts %}
                                <a data-sort="{{ s.value }}"
                                   href=''
                                   class="sort-pagination-link {% if filters.query.sort == s.value %} selected govuk-body govuk-!-font-weight-bold{% else %}govuk-link govuk-link--no-visited-state{% endif %}">
                                    {{ s.label }}</a>{% if not loop.last %} | {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                <span class="govuk-body">Cases per page:</span>
                                {% set limits = [2000, 1000, 500, 250] %}
                                {% for l in limits %}
                                <a  data-limit="{{ l }}"
                                    href=''
                                    class="sort-pagination-link {% if filters.query.limit == l %} selected govuk-body govuk-!-font-weight-bold{% else %}govuk-link govuk-link--no-visited-state{% endif %}">
                                    {{ l }}</a>{% if not loop.last %} | {% endif %}
                                {% endfor %}
                            </div>
                            {{ compileFilterQueryFields(filters) }}
                            {{ compileSortPaginationQueryFields(filters)}}
                            <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
                            <input type="hidden" name="page" value="{{ filters.query.page }}">
                        </form>
                        <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2">
                            {{ filters.pagination.total }} result{{ 's' if filters.pagination.total != 1 else '' }}{% if hasActiveFilters %} (filter applied){% endif %}
                        </div>
                    </div>
                    <form method="post" action="/cases" novalidate>
                        <input type="hidden" name="inspectorId" value="{{ filters.query.inspectorId }}">
                    {% if inspectors.selected %}
                        <div class="assignment-form">
                            <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-right-2">
                                You are assigning cases for {{ inspectors.selected.lastName }}, {{ inspectors.selected.firstName }}.
                            </p>
                            <div class="govuk-form-group {% if appeals.assignmentDateError %} margin-top-error-40px {% endif %}">
                                <label class="govuk-label" for="assignment-date">Event date: </label>
                            </div>
                            <div class="govuk-form-group">
                                {{ govukInput({
                                    id: "assignment-date",
                                    name: "assignmentDate",
                                    classes: "govuk-input",
                                    type: "date",
                                    value: appeals.assignmentDate,
                                    attributes: { min: appeals.assignmentDateMin, readonly:true, placeholder: "dd/mm/yyyy" },
                                    errorMessage: {text: appeals.assignmentDateError} if appeals.assignmentDateError else null
                                }) }}
                                <div class="event-label"></div>
                            </div>
                            <div class="govuk-form-group">
                                {{ govukButton({
                                    text: "Assign selected cases",
                                    type: "submit",
                                    classes: "margin-top-error-40px" if appeals.assignmentDateError else null
                                }) }}
                            </div>
                        </div>
                    {% else %}
                        <p class="govuk-body govuk-!-text-align-right">
                            Select an inspector to assign cases
                        </p>
                    {% endif %}

                        {% include 'views/home/cases-table.njk' %}
                    </form>

                    {% if appeals.cases.length > 0 %}
                        <div class="govuk-form-group" style="display: flex; justify-content: space-between; align-items: center; margin: 0; padding: 0;">
                            <div style="margin: 0; padding: 0;">
                                {{ govukPagination(filters.pagination) }}
                            </div>
                        </div>
                    {% endif %}

                {% endset %}

                {% set mapView %}
                    <div class="home-map">
                        {{ osMap(map.apiKey, map.cbosUrl, appeals.cases, inspectors.selected, true) }}
                    </div>
                {% endset %}

                {% set inspectorDetails %}
                    {% if inspectors.selected %}
                        {% include 'views/home/inspector-details.njk' %}
                    {% else %}
                        {{ govukErrorMessage({
                            text: inspectors.error,
                            visuallyHiddenText: "Error"
                        }) }}
                    {% endif %}
                {% endset %}

                {% set outlookView %}
                    {% if calendar.error %}
                        {{ govukErrorMessage({
                            id: "calendarError",
                            text: calendar.error,
                            visuallyHiddenText: "Error"
                        }) }}
                        {% elif inspectors.selected %}
                        {% include 'views/home/calendar.njk' %}
                    {% endif %}
                {% endset %}

                {{ govukTabs({
                    items: [
                        {
                            label: "Cases",
                            id: "cases",
                            panel: { html: casesTable }
                        },
                        {
                            label: "Map view",
                            id: "mapView",
                            panel: { html: mapView }
                        },
                        {
                            label: "Inspector personal details",
                            id: "inspector",
                            panel: { html: inspectorDetails }
                        },
                        {
                            label: "Inspector calendar",
                            id: "outlookView",
                            panel: { html: outlookView }
                        }
                    ]
                }) }}
            </main>
        </div>
    </div>

    <script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
            window.CaseListConfig = {
                hasSuccessSummary: {{ 'true' if successSummary else 'false' }},
                hasErrorSummary: {{ 'true' if errorSummary else 'false' }},
                bankHolidays: {{ bankHolidays | dump | safe }},
                assignmentDateMin: "{{ appeals.assignmentDateMin }}",
                assignmentDate: "{{ appeals.assignmentDate }}"
            };
            {% include "views/home/view.js" %}
    </script>

{% if errorSummary  %}
    <script>
        window.addEventListener('load', () => {
            window.scrollTo(0, 0);
        });
    </script>
{% endif %}

{% endblock %}