{% macro map(apiKey, cases, inspectorPin) %}

<style>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .pins-map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(2.5 / 4 * 100%);
    }

    .pins-map__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pins-map__content {
        width: 100%;
        height: 100%;
    }
</style>
<div class="pins-map">
    <div class="pins-map__container">
        <div id="map" class="pins-map__content"></div>
    </div>
    <div id="custom-popup" style="display:none; position:absolute; z-index:1000; background:#fff; border:1px solid #ccc; padding:16px; min-width:300px;">
      <button id="minimise-btn">_</button>
      <button id="maximise-btn" style="display:none;">[ ]</button>
      <button id="close-btn">X</button>
      <button id="zoom-btn">+</button>
      <button id="prev-btn"><</button>
      <button id="next-btn">></button>
      <div id="popup-content"></div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.css" />
<link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/light/main.css">
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.js"></script>
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="https://js.arcgis.com/4.30/"></script>
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>

    const apiKey = '{{ apiKey }}';
    const serviceUrl = 'https://api.os.uk/maps/vector/v1/vts';
    const pins = {{ cases | dump | safe }};

    require([
        'esri/Map',
        'esri/views/MapView',
        'esri/Graphic',
        'esri/layers/VectorTileLayer',
        'esri/geometry/Point',
        'esri/config',
        'esri/core/reactiveUtils'
    ], function(Map, MapView, Graphic, VectorTileLayer, Point, esriConfig, reactiveUtils) {
        esriConfig.request.interceptors.push({
            urls: serviceUrl,
            before: function(params) {
                if (!params.requestOptions.query) {
                    params.requestOptions.query = {};
                }
                params.requestOptions.query.key = apiKey;
            }
        });

        const tileLayer = new VectorTileLayer({
            url: serviceUrl
        });

        const map = new Map({
            layers: [tileLayer]
        });

        // Filter valid pins
        const validPins = pins.filter(
            p => p.siteAddressLatLong && p.siteAddressLatLong.latitude != null && p.siteAddressLatLong.longitude != null
        );

        // Default center (UK)
        const defaultCenter = { longitude: -1.5, latitude: 52.5 };
        let center = { ...defaultCenter };

        if (validPins.length) {
            center = validPins.reduce((acc, { siteAddressLatLong: { latitude, longitude } }) => {
                acc.longitude += longitude;
                acc.latitude += latitude;
                return acc;
            }, { longitude: 0, latitude: 0 });
            center.longitude /= validPins.length;
            center.latitude /= validPins.length;
        }

        const view = new MapView({
            container: 'map',
            map: map,
            zoom: 3,
            center: new Point({
                x: center.longitude,
                y: center.latitude
            }),
            constraints: {
                minZoom: 2,
                maxZoom: 15,
                rotationEnabled: false
            }

        });


        function addMarker(caseData, color) {
            if (
                !caseData.siteAddressLatLong ||
                caseData.siteAddressLatLong.latitude == null ||
                caseData.siteAddressLatLong.longitude == null
            ) {
                return;
            }
            const point = new Point({
                x: caseData.siteAddressLatLong.longitude,
                y: caseData.siteAddressLatLong.latitude
            });
            const markerSymbol = {
                type: 'simple-marker',
                color: '#' + (caseData.color || color || '00703c'),
                outline: {
                    color: '#fff',
                    width: 1
                }
            };
            const graphic = new Graphic({
                geometry: point,
                symbol: markerSymbol,
                attributes: caseData,
                popupTemplate: {
                    title: 'Case ' + caseData.caseId,
                    content: [
                        { type: 'fields', fieldInfos: [
                            { fieldName: 'caseType', label: 'Type' },
                            { fieldName: 'caseProcedure', label: 'Procedure' },
                            { fieldName: 'siteAddressPostcode', label: 'Postcode' },
                            { fieldName: 'lpaName', label: 'LPA' },
                            { fieldName: 'caseAge', label: 'Case Age' },
                            { fieldName: 'caseStatus', label: 'Status' }
                        ]}
                    ]
                }
            });
            view.graphics.add(graphic);
        }

        pins.forEach(caseData => addMarker(caseData));


        {% if inspectorPin and inspectorPin.address and inspectorPin.address.latitude and inspectorPin.address.longitude %}
        function addInspectorMarker(inspectorData) {
            const point = new Point({
                x: inspectorData.address.longitude,
                y: inspectorData.address.latitude
            });
            const pictureMarkerSymbol = {
                type: 'picture-marker',
                url: `/assets/images/people.png`,
                width: '50px',
                height: '50px'
            };

            const inspectorTooltip = {
                title: `Inspector: ${inspectorData.firstName} ${inspectorData.lastName}`,
                content: `
                    <strong>Address:</strong> ${inspectorData.address}<br>
                    <strong>Grade:</strong> ${inspectorData.grade}<br>
                    <strong>FTE:</strong> ${inspectorData.fte}<br>
                    <strong>Specialisms:</strong> ${inspectorData.caseSpecialisms}<br>
                `
            };

            const pointGraphic = new Graphic({
                geometry: point,
                symbol: pictureMarkerSymbol,
                popupTemplate: inspectorTooltip
            });
            view.graphics.add(graphic);
        }
        addInspectorMarker({{ inspectorPin | dump | safe }});
        {% endif %}
    });
    // Helper to build popup content from attributes
    function buildPopupContent(attrs) {
        return `
            <strong>Case ID:</strong> ${attrs.caseId}<br>
            <strong>Case Age:</strong> ${attrs.caseAge}<br>
            <strong>LPA Name:</strong> ${attrs.lpaName}<br>
            <strong>Status:</strong> ${attrs.caseStatus}<br>
            <strong>Postcode:</strong> ${attrs.siteAddressPostcode}<br>
            <strong>Specialism:</strong> ${attrs.caseSpecialism || ''}<br>
            <strong>Appeal Type:</strong> ${attrs.caseType || ''}<br>
            <strong>Procedure:</strong> ${attrs.caseProcedure || ''}<br>
            <strong>Allocation Level:</strong> ${attrs.allocationLevel || ''}<br>
        `;
    }

    let currentCaseIndex = -1;

    view.on("click", function(event) {
        view.hitTest(event).then(function(response) {
            const graphic = response.results[0]?.graphic;
            if (graphic && graphic.attributes && graphic.attributes.caseId) {
                currentCaseIndex = pins.findIndex(p => p.caseId === graphic.attributes.caseId);
                document.getElementById('popup-content').innerHTML = buildPopupContent(graphic.attributes);
                document.getElementById('custom-popup').style.display = 'block';
                document.getElementById('minimise-btn').style.display = '';
                document.getElementById('maximise-btn').style.display = 'none';
            }
        });
    });

    document.getElementById('minimise-btn').onclick = function() {
        document.getElementById('popup-content').style.display = 'none';
        this.style.display = 'none';
        document.getElementById('maximise-btn').style.display = '';
    };
    document.getElementById('maximise-btn').onclick = function() {
        document.getElementById('popup-content').style.display = '';
        this.style.display = 'none';
        document.getElementById('minimise-btn').style.display = '';
    };
    document.getElementById('close-btn').onclick = function() {
        document.getElementById('custom-popup').style.display = 'none';
    };
    document.getElementById('zoom-btn').onclick = function() {
        if (currentCaseIndex >= 0) {
            const pin = pins[currentCaseIndex];
            view.goTo({
                center: [pin.siteAddressLatLong.longitude, pin.siteAddressLatLong.latitude],
                zoom: view.zoom + 1
            });
        }
    };
    document.getElementById('prev-btn').onclick = function() {
        if (pins.length && currentCaseIndex > 0) {
            currentCaseIndex--;
            document.getElementById('popup-content').innerHTML = buildPopupContent(pins[currentCaseIndex]);
        }
    };
    document.getElementById('next-btn').onclick = function() {
        if (pins.length && currentCaseIndex < pins.length - 1) {
            currentCaseIndex++;
            document.getElementById('popup-content').innerHTML = buildPopupContent(pins[currentCaseIndex]);
        }
    };

</script>
{% endmacro %}