ENVIRONMENT=dev

# the log level for pino
LOG_LEVEL=debug

# Authentication
AUTH_DISABLED=false
## Only required if AUTH_DISABLED=false
APP_HOSTNAME=localhost:8090
AUTH_GROUP_APPLICATION_ACCESS=c1232a02-e4c5-4ac4-9efd-14f05e597023
AZURE_TENANT_ID=5878df98-6f88-48ab-9322-998ce557088d
AZURE_CLIENT_ID=18150378-c026-4833-af9a-fef6e6dbc70d
AZURE_CLIENT_SECRET=not-a-real-secret

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING='tbd'

API_CALENDAR_EVENTS_DAY_RANGE=30

GOV_NOTIFY_DISABLED=true
# GOV.UK Notify Configuration, Not true values
GOV_NOTIFY_TEMPLATE_ASSIGNED_CASE=6dc1cb2f-4ae6-4dfc-8815-22e09601c91c
GOV_NOTIFY_TEMPLATE_ASSIGNED_CASE_PROGRAMME_OFFICER=a3f9c2d1-7b84-4f0e-9c3a-12d4e6b8f91a
GOV_NOTIFY_TEMPLATE_SELF_ASSIGNED_CASE=f72b1e44-3c9d-4d8e-8b77-0a1c2f3e4d55
GOV_NOTIFY_TEMPLATE_SELF_ASSIGNED_CASE_PROGRAMME_OFFICER=9c0e4a12-5f3b-4b1d-92aa-7e8c1d2f44c0

CBOS_URL="https://back-office-appeals-dev.planninginspectorate.gov.uk/"

# Mock Data Configuration
API_MOCK_DATA=false

# Git/Deployment
GIT_SHA=local-development