parameters:
  - name: schemaMigration
    displayName: Run SQL Database Migration
    type: boolean
    default: true
  - name: deployWeb
    displayName: Deploy Web
    type: boolean
    default: true

pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2
  pipelines:
    - pipeline: build
      source: Build
      trigger:
        branches:
          include:
            - main

extends:
  template: stages/wrapper_cd.yml@templates
  parameters:
    variableGroupPrefix: 'cd'
    environments:
      - name: Dev
      - name: Test
        dependsOn:
          - Dev
      - name: Training
        dependsOn:
          - Test
      - name: Prod
        dependsOn:
          - Training
    globalVariables:
      - template: .azure/pipelines/azure-pipelines-variables.yml@self
    deploymentStages:
      - name: Stage
        deploymentJobs:
          - name: Stage Web
            condition: ${{ eq(parameters.deployWeb, true) }}
            steps:
              - template: ../steps/azure_web_app_deploy_slot.yml@templates
                parameters:
                  appName: pins-app-scheduling-web-$(ENVIRONMENT)
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: scheduling/web
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: Web
                  appUrl: $(deploySlotOutputs.slotUrl)/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
                  auth_enabled: 'false'
                  env: $(ENVIRONMENT)
      - name: Deploy
        dependsOn:
          - Stage
        deploymentJobs:
          - name: Migrate
            condition: ${{ eq(parameters.schemaMigration, true) }}
            steps:
              - checkout: self
              - template: ../steps/azure_get_secrets.yml@templates
                parameters:
                  keyVaultName: pins-kv-scheduling-$(ENVIRONMENT)
                  secrets:
                    - name: scheduling-sql-admin-connection-string
                      variable: SQL_CONNECTION_STRING_ADMIN
                    - name: scheduling-sql-app-connection-string
                      variable: SQL_CONNECTION_STRING
              - task: Cache@2
                inputs:
                  key: 'npm | "$(Agent.OS)" | package-lock.json'
                  restoreKeys: |
                    npm | "$(Agent.OS)" | package-lock.json
                  path: $(npm_config_cache)
                displayName: Cache NPM
              - template: ../steps/node_script.yml@templates
                parameters:
                  nodeVersion: 22
                  script: npm ci --workspace=@pins/inspector-programming-database
                  workingDirectory: $(Build.Repository.LocalPath)
                  environmentVariables:
                    npm_config_cache: $(npm_config_cache)
              - ${{ if eq(parameters.schemaMigration, true) }}:
                  - template: ../steps/node_script.yml@templates
                    parameters:
                      nodeVersion: 22
                      environmentVariables:
                        SQL_CONNECTION_STRING_ADMIN: $(SQL_CONNECTION_STRING_ADMIN)
                      script: npm run migrate-prod
                      workingDirectory: $(Build.Repository.LocalPath)/packages/database
          - name: Deploy Web
            condition: ${{ eq(parameters.deployWeb, true) }}
            steps:
              - template: ../steps/azure_web_app_slot_swap.yml
                parameters:
                  appName: pins-app-scheduling-web-$(ENVIRONMENT)
                  appResourceGroup: $(resourceGroup)
                  appStagingSlotName: staging
                  appTargetSlotName: production
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: Web
                  appUrl: https://pins-app-scheduling-web-$(ENVIRONMENT).azurewebsites.net/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
                  auth_enabled: 'false'
                  env: $(ENVIRONMENT)
          - name: Deploy Integration Functions
            steps:
              - download: build
                artifact: integration-functions
                displayName: Download integration-functions
              - template: ../steps/function_app_deploy.yml
                parameters:
                  appName: pins-func-scheduling-integration-$(ENVIRONMENT)
                  resourceGroup: $(resourceGroup)
                  workingDirectory: $(Pipeline.Workspace)/build/integration-functions
