{% extends "views/layouts/main.njk" %}

{% set pageTitle = 'Sorry, there is a problem with the service' %}

{% block pageContent %}
    <p class="govuk-body">{{ bodyCopy }}</p>

    {% if failedCases %}
        {% if failedCases.length > 5 %}
            {% set column1Count = 5 %}
        {% else %}
            {% set column1Count = failedCases.length %}
        {% endif %}

        <div class="case-id-columns">
            <div>
                {% for i in range(column1Count)%}
                    <p class="govuk-body">{{failedCases[i]}}</p>
                {% endfor %}
            </div>
            <div>
                {% for i in range (5, failedCases.length) %}
                    <p class="govuk-body">{{failedCases[i]}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if successfulCases and successfulCases.length > 0 %}
        <p class="govuk-body govuk-!-margin-top-4 govuk-!-font-weight-bold">
            The following {{ successfulCases.length }} case{{ "s" if successfulCases.length !== 1 }} {{ "were" if successfulCases.length !== 1 else "was" }} successfully assigned:
        </p>

        {% if successfulCases.length > 5 %}
            {% set successColumn1Count = 5 %}
        {% else %}
            {% set successColumn1Count = successfulCases.length %}
        {% endif %}

        <div class="case-id-columns">
            <div>
                {% for i in range(successColumn1Count)%}
                    <p class="govuk-body">{{successfulCases[i]}}</p>
                {% endfor %}
            </div>
            <div>
                {% for i in range (5, successfulCases.length) %}
                    <p class="govuk-body">{{successfulCases[i]}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if successfulCases and successfulCases.length > 0 %}
        <p class="govuk-body">
            {% if emailNotificationSent %}
                The inspector has been notified by email about the successfully assigned cases.
            {% else %}
                <strong>Note:</strong> The email notification to the inspector could not be sent. You may need to notify them manually about the successfully assigned cases.
            {% endif %}
        </p>
    {% endif %}

    <p class="govuk-body">
        Contact the <a href="https://intranet.planninginspectorate.gov.uk/task/report-it-problem/" class="govuk-link">Littlefish service desk</a> if the problem persists.
    </p>

    <p class="govuk-body">
        <a href="/?inspectorId={{ inspectorId }}" class="govuk-link">Back to case list</a>
    </p>
{% endblock %}
