{% extends "views/layouts/main.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "views/home/map/map.njk" import osMap %}

{% block pageContent %}
<nav class="govuk-header__navigation pins-header-navigation" aria-label="Menu">
    <ul class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item">
            <a href="/" class="govuk-back-link govuk-!-font-size-19">Back</a>
        </li>
    </ul>
</nav>
<div class="pins-container-wide govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Case</h2>

        {{ govukSummaryList({
            rows: [
                { key: { text: "Case reference" }, value: { text: caseData.caseReference } },
                { key: { text: "Site address" }, value: { text: caseData.siteAddress  } },
                { key: { text: "Case Description" }, value: { text: caseData.originalDevelopmentDescription } },
                { key: { text: "Procedure" }, value: { text: caseData.caseProcedure  } },
                { key: { text: "Case status" }, value: { text: caseData.caseStatus  } },
                { key: { text: "Band" }, value: { text: caseData. allocationBand  } },
                { key: { text: "Case level" }, value: { text: caseData.caseLevel  } },
                { key: { text: "Special circumstances" }, value: { text: caseData.specialCircumstance  } },
                { key: { text: "Specialisms" }, value: { text: caseData.caseSpecialisms } },
                { key: { text: "Costs applied for" }, value: { text: caseData.appellantCostsAppliedFor  } },
                { key: { text: "Linked cases" }, value: { text:caseData.linkedCases  } }
            ]
        }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Key dates</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Appeal start date" }, value: { text: caseData.appealStartDate } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Event Arrangements</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Event type" }, value: { text: caseData.eventType } },
                { key: { text: "Programming notes" }, value: { text: "__" } },
                { key: { text: "Duration notes" }, value: { text: "__" } }
            ]
        }) }}

        <div class="map-container">
            {{ osMap(map.apiKey, [caseData], inspectorPin) }}

        </div>
    </div>
</div>

{% endblock %}



