{% extends "views/layouts/main.njk" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "views/home/map/map.njk" import osMap %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block containerStart %}
    {{ super() }}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}
{% endblock %}

{% block pageContent %}

<div class="pins-container-wide govuk-grid-row pins-case-details">
    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Case</h2>

        {{ govukSummaryList({
            rows: [
                { key: { text: "Case reference" }, value: { html: '<a href="' + cbosUrl + 'appeals-service/appeal-details/' + caseData.caseId + '" class="govuk-link govuk-!-margin-right-2" target="_blank">' + caseData.caseReference + '</a> <span> (Will open in a new tab)</span>' } },
                { key: { text: "Site address" }, value: { text: caseData.siteAddress  } },
                { key: { text: "Case description" }, value: { text: caseData.originalDevelopmentDescription } },
                { key: { text: "Procedure" }, value: { text: caseData.caseProcedure  } },
                { key: { text: "Case status" }, value: { html: govukTag({text: caseData.caseStatus }) } },
                { key: { text: "Band" }, value: { text: caseData.allocationBand  } },
                { key: { text: "Case level" }, value: { text: caseData.caseLevel  } },
                { key: { text: "Specialisms" }, value: { text: caseData.caseSpecialisms } },
                { key: { text: "Costs applied for" }, value: { text: caseData.appellantCostsAppliedFor  } },
                { key: { text: "Linked cases" }, value: { text:caseData.linkedCases  } },
                { key: { text: "Green belt" }, value: { text: caseData.isGreenBelt  } },
                { key: { text: "Designated site names" }, value: { text:caseData.designatedSitesNames  } },
                { key: { text: "Type of planning application" }, value: { text:caseData.typeOfPlanningApplication  } },
                { key: { text: "Application decision" }, value: { text:caseData.applicationDecision   } },
                { key: { text: "Is the site in a national landscape?" }, value: { text: caseData.isAonbNationalLandscape  } }

            ]
        }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Key dates</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Appeal start date" }, value: { text: caseData.appealStartDate } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Event arrangements</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Event type" }, value: { html: govukTag({text: caseData.eventType }) } },
                { key: { text: "Duration notes" }, value: { text: "__" } }
            ]
        }) }}

        <div class="map-container">
            {{ osMap(map.apiKey, [caseData], inspectorPin) }}

        </div>
    </div>
</div>

{% endblock %}
